body{
font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.navigationbar{
    height: 87px;
    color:white;
    display:flex;
    flex-direction: row;
    align-items: center;

   
}
.mylogo{
    margin-left:20px;
    height:87px;
    width:200px;

    /* display:flex */
}
.navvlogo{
    margin-top: 18px;
    height:87px;
    width:100%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6LC5w22-kEqjXoaIg-fkRvvvPjFlIKitsi14SDF1Y&s");
    background-size: contain;
    background-repeat: no-repeat;
}
.search{
    display:flex;
    justify-content: flex-start;
    height:40px;
    width:650px;

    border: 2px solid #a6b2b2;
    border-radius: 4px;
    margin-left:40px;
   
}

.s-input{
  width: 100%;
  font-size:1rem;
  border:none;
}

.search-icon{
    width:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #a6b2b2;
}

.loginbutton{
    height: 32px;
    width: 100px;
    background-color:#00b5b7;
    color:white;
    font-weight: bold;
    text-align: center;

    margin-left:20px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 2px;
 
}
.top{
    height: 67px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.p_div a{
font-size:16px;
color: #3f3e3e;;
}

.div1{
   
    padding:11px;
}
.icon-text{
    margin-left: 10px;
}
.Strip{
    display: flex;
    height:48px;
    
    background-color: #c2f1f5;
    justify-content: center;
    align-items: center;
}
.hero-section{
    height:282px;
    background-image: url("https://img8.hkrtcdn.com/30230/bnr_3022927_o.jpg");
    background-size: cover;
}
.wid{
    height:600px;
}
.wid-title{
    margin-top: 20px;
    margin-left:10px;
    height: 21px;
    font-size:25px;
   
    font-family: sans-serif;
}
.wid-content{
    align-items: center;
    height:550px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:20px 0px 0px 0px;
}

.box{
    height: 500px;
    width:25%;
    margin-top:25px;
    border: 1px solid rgb(219, 212, 212);
    border-radius: 0 0 4px 4px;
    margin:0 10px 0 10px;
}
.up{
    height:220px;
    width:285px;
    background-color: #f7f7f7;
}
.up-image{
    height:160px;
    width:285px;
    background-size: contain;
    background-repeat: no-repeat;

    margin-top:20px;
    margin-left:60px;
    
}
.h i{
margin-left:265px;
}

.down{
    height: 276px;
    width:285px;
}

.info{
    height:60px;
    width:263px;
    text-align: left;
    font-size:15px;
    line-height: 25px;
    margin-left:5px;
}
.price{
    height:35px;
    width:263px;
}

.price1{
    font-size:18px;
   
    margin-left:5px; 
}
.price2{
    color:#AEB1BD;
    font-size:14px;
    text-decoration: line-through;
}
.dis{
    color:#00A856;
    font-size:14px;
}
.premium{
    height:80px;
    width:200px;
}

.add{
    font-size:15px;
    font-weight: bold;
    color:#ff8914;
    height:46px;
    width: 263px;
    background-color: #FFF9F4;
    border:1px solid #ff8914;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}
.offtitle{
    font-size:30px;
    padding:10px;
    
    margin-left:30px;

}
.off{
    height: 450px;
    display:flex;
    justify-content: space-evenly;
    margin-top:15px;
    margin-bottom: 5px;
}
.offbox{
    height:309px;
    width:250px;
    margin:0 4px 0 4px;
    

}

.offbox img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
}


.foot{
    background-color: #070a0c;
    height:350px;
    color:white;

    display: flex;
    justify-content: space-evenly;
}

ul{
    list-style-type: none;
    margin-top:45px;
}

.foot a{
    display: block;
    font-size: 14px;
    color: #DDDDDD;
    margin-top: 10px;
}

ul p{
    font-weight: bold;
    font-size: 16px;
}